a{
    font-size: 17px;
}
.content{
    padding:10px 25px 10px 25px;
}
#myBtn{
    float:right;
    margin:17px 20px 10px 10px;
}
.container-fluid{
    margin:0px;
    padding:0px;
}
#titleheader{
    font-family:serif;
    align-content:center;
    margin-bottom: 15px;
}
.navbar-brand {
    font-size : 30px !important; 
}
h3{
    margin: 0px;
    padding: 10px;
    font-family: cursive
}
.tab-content{
    margin:0px;
    padding:0px;
    height:100px;
   background-color: #3097D1 !important;
}
/* #ty{
    margin: 0px;
    padding: 0px;
} */
.tabslink{
    color:antiquewhite;
    cursor:pointer;
    font-size: 15px;
    font-family:'Lato', sans-serif;
}
.row{
    padding: 15px;
    margin: 0px;

    
}
/* .tabsclass{
    padding: 10px;
} */
.tab-content{
    border-radius: 7px;
    border-top-left-radius: 0px;
}

.logo{
    height: 60px;
    width: 70px;
    padding: 0px;
    float: left;
    margin: 0px;
    margin-right: 5px;
    margin-left: -10px;
    background-size:70px 60px;
    background-image: url("/images/kes_logo.png");
}
textarea{
    resize: none;
}


#myContainer{
    height:60px;
    box-shadow: 1px 0px 12px 0.1px;
    background: linear-gradient(to right,lightblue,whitesmoke,white);
}

.formbody{
    background: linear-gradient(white,grey, white);
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
/*    float: right;*/
    font-size: 28px;
    font-weight: bold;
    margin-top: 50px;
    margin-top: 17px!important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #222222;
    color: white;
}

.modal-body {padding: 2px 16px;}


@media (max-width: 991.98px) { 
    .modal-content{
        width: 90%;
    }
}
@media (min-width: 992.98px) {
    .modal-content{
        max-width: 450px;
    }
}


